<% if (success_msg != "") { %>
    <div class="alert alert-success" role="alert">
        <%= success_msg %>    
    </div>
<% } %>
<% if (typeof errors != "undefined") { %>
    <div class="alert alert-danger alert-dismissible fade show">        
        <ul>
            <% for( let i = 0; i < errors.length; i++ ) { %>
                <li><%= errors[i].msg %></li>
            <% } %>
        </ul>
    </div>
<% } %>
<% if (error != "") { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error! </strong><%= error %>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>  
    </div>
<% } %>