.section-h1-tag{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    /* margin-bottom: 4%;
    margin-top: 4%; */    
}
.error-message{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* Navbar styles */
#searchForm{
    display: flex;
    flex-direction: row;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 600;
}
.navbar-brand{
    font-size: 1.7rem !important;
    font-weight: 600;
    letter-spacing: 0.03rem;
}
.navbar{
    border-radius: 20px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
    padding: 2%;
    background-color: #ffffff !important;
    margin-bottom: 4rem;
    margin-top: 1rem;
}